<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <title>Product List || Aquamarine</title>

    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="images/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Oregano&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"
      rel="stylesheet"
    ></script>
    <script
      src="https://kit.fontawesome.com/457a315592.js"
      crossorigin="anonymous"
    ></script>

    <style>
      body {
        background-color: rgb(207, 207, 207);
        background: url(../images/background2.png);
        background-repeat: repeat-y;
        position: absolute;
        background-size: cover;
        z-index: -1000;
      }

      .card-body {
        color: black;
      }

      a {
        text-decoration: none !important;
      }

      .productlist {
        margin: 0% 7% 0% 0%;
      }

      .productlist .col {
        justify-content: center;
        margin: 2% 0% 6% 5%;
      }

      .row {
        margin: 2% 8% 5% 5%;
      }

      .border {
        margin-top: 10%;
        border-radius: 50%;
        height: 250px;
        width: 250px;
        background-color: #a6a6a6;
      }

      .productlist img {
        width: 227px;
        height: 140px;
        margin: 5% 0% 0% 4.5%;
        padding: 10px;
        cursor: pointer;
      }

      .caption {
        margin: 60px 15px 0 35px;
        text-align: center;
        font-size: 22px;
        color: black;
      }

      .icon {
        display: flex;
        margin: 5% 0 0 43%;
      }

      .wishlist {
        font-size: 22px;
        cursor: pointer;
        color: black;
        margin-right: 10%;
        z-index: 1000;
        overflow: hidden;
        transition: 0.3s;
      }

      .cart {
        font-size: 22px;
        cursor: pointer;
        color: black;
        z-index: 1000;
        transition: 0.3s;
      }

      .wishlist:hover {
        color: red;
      }

      .fas {
        color: red;
        transition: 0.4s;
      }

      @media screen and (max-width: 640px) {
        body {
          background-color: rgb(207, 207, 207);
          background: url(../images/background2.png);
          overflow-y: hidden;
          height: 100%;
          width: 100%;
          background-size: cover;
          position: relative;
        }

        .searchbar {
          width: 80%;
        }

        .tombolsearch {
          width: 30px;
          height: 29.5px;
          margin-left: -10%;
        }

        .linkcart {
          margin-top: 5%;
        }

        .border {
          margin-left: 15%;
          margin-bottom: 10%;
        }
      }

      @media screen and (min-width: 641px) and (max-width: 960px) {
        body {
          background-color: rgb(207, 207, 207);
          background: url(../images/background2.png);
          overflow-y: hidden;
          width: 100%;
          background-position: center;
          background-size: cover;
          position: relative;
        }

        .searchbar {
          width: 100%;
        }

        .tombolsearch {
          width: 30px;
          height: 29.5px;
          margin: 0% 0% 0% 0%;
        }

        .linkcart {
          margin-left: 5%;
        }

        .row {
          width: 100%;
          display: grid;
          grid-template-columns: 50% 50%;
          margin: 0% 0% 10% 5%;
        }

        .border {
          margin-left: 10%;
          margin-bottom: 10%;
        }
      }

      nav .linkcart span {
        padding-left: 5px;
      }

      .linkcart a {
        font-size: 14px;
        color: white;
        background: rgba(0, 0, 219, 0.753);
        padding: 5px;
        text-decoration: none;
        cursor: pointer;
        font-family: "Open Sans", sans-serif;
      }

      .linkcart ion-icon {
        vertical-align: middle;
        font-size: 20px;
        padding-right: 5px;
      }
    </style>
  </head>

  <body>
    <%- include('../layouts/navbar3.ejs'); %>

    <div class="productlist">
      <div class="row row-cols-1 row-cols-md-5">
        <% products.forEach((product) => { %>
        <div class="col">
          <div class="border">
            <figure class="figure">
              <div class="icon">
                <div class="wishlist">
                  <a href="/add-to-wishlist/<%= product._id %>">
                    <i
                      onclick="changeColourRed('red')"
                      id="red"
                      class="far fa-heart"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Add to WishList"
                    ></i>
                  </a>
                </div>
                <div class="cart cart1">
                  <a href="/add-to-cart/<%= product._id %>">
                    <i
                      class="fa fa-shopping-cart"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Add to Cart"
                    ></i>
                  </a>
                </div>
              </div>
              <a href="<%= product.link %>">
                <img src="<%= product.imagePath %>" />
              </a>
              <figcaption class="caption">
                <%= product.name %> <br />
                Rp <%= product.price %>/kg
              </figcaption>
            </figure>
          </div>
        </div>
        <% }) %>
      </div>
    </div>

    <!-- <script>
      var red = document.getElementById("red");
      var red1 = document.getElementById("red1");
      var red2 = document.getElementById("red2");
      var red3 = document.getElementById("red3");
      var red4 = document.getElementById("red4");
      var red5 = document.getElementById("red5");
      var red6 = document.getElementById("red6");
      var red7 = document.getElementById("red7");

      function changeColourRed(id) {
        if (id == "red") {
          if (red.classList.contains("far")) {
            red.classList.remove("far");
            red.classList.add("fas");
          } else {
            red.classList.remove("fas");
            red.classList.add("far");
          }
        }
        if (id == "red1") {
          if (red1.classList.contains("far")) {
            red1.classList.remove("far");
            red1.classList.add("fas");
          } else {
            red1.classList.remove("fas");
            red1.classList.add("far");
          }
        }
        if (id == "red2") {
          if (red2.classList.contains("far")) {
            red2.classList.remove("far");
            red2.classList.add("fas");
          } else {
            red2.classList.remove("fas");
            red2.classList.add("far");
          }
        }
        if (id == "red3") {
          if (red3.classList.contains("far")) {
            red3.classList.remove("far");
            red3.classList.add("fas");
          } else {
            red3.classList.remove("fas");
            red3.classList.add("far");
          }
        }
        if (id == "red4") {
          if (red4.classList.contains("far")) {
            red4.classList.remove("far");
            red4.classList.add("fas");
          } else {
            red4.classList.remove("fas");
            red4.classList.add("far");
          }
        }
        if (id == "red5") {
          if (red5.classList.contains("far")) {
            red5.classList.remove("far");
            red5.classList.add("fas");
          } else {
            red5.classList.remove("fas");
            red5.classList.add("far");
          }
        }
        if (id == "red6") {
          if (red6.classList.contains("far")) {
            red6.classList.remove("far");
            red6.classList.add("fas");
          } else {
            red6.classList.remove("fas");
            red6.classList.add("far");
          }
        }
        if (id == "red7") {
          if (red7.classList.contains("far")) {
            red7.classList.remove("far");
            red7.classList.add("fas");
          } else {
            red7.classList.remove("fas");
            red7.classList.add("far");
          }
        }
      }
    </script> -->

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

    <script src="../js/addtocart.js"></script>
  </body>
</html>
